streamlit
faster-whisper
sentence-transformers
chromadb
pypdf
transformers
peft
accelerate
bitsandbytes
torch
torchvision
torchaudio
sounddevice
portaudio19   # This helps with PortAudio
